<!DOCTYPE html>
<html lang="en">
<!-- <meta http-equiv="refresh" content="5"> -->
<!-- <script src="../pureknob/pureknob.js"></script> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19102233</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 justify-center items-center font-sans">
  <div class="grid grid-cols-3 gap-4 p-5">
    <div class="bg-gray-900 text-green-500 text-center p-4 rounded-lg col-span-3 text-4xl font-bold">
      sistem monitoring tanaman cabai merah
    </div>
    <div class="text-2xl font-bold bg-gray-800 text-green-500 text-center p-4 rounded-lg col-span-2">connection with mqtt or http</div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg row-span-2">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold col-span-2 bg-gray-800 rounded-lg pt-2">temp and humidity</div>
        <div class="col-span-1 flex justify-center p-3">
          <svg class="h-24 w-24" viewBox="0 0 72 131" fill="22C55E" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.1162 84.8726V46.6171H30.8837V84.8726C27.47 85.9753 24.593 88.145 22.7609 90.9983C20.9289 93.8517 20.2599 97.2048 20.8722 100.465C21.4845 103.726 23.3386 106.683 26.1068 108.815C28.8751 110.948 32.3792 112.117 36 112.117C39.6207 112.117 43.1248 110.948 45.8931 108.815C48.6613 106.683 50.5154 103.726 51.1277 100.465C51.74 97.2048 51.071 93.8517 49.239 90.9983C47.407 88.145 44.5299 85.9753 41.1162 84.8726Z" fill="#22C55E"/>
            <path d="M36 131C28.9139 131.007 21.9834 129.109 16.0787 125.545C10.1741 121.981 5.55855 116.908 2.81168 110.965C0.064811 105.022 -0.690922 98.4732 0.639376 92.1406C1.96967 85.8081 5.3267 79.9743 10.2889 75.3718V23.3929C10.2889 17.1887 12.9977 11.2386 17.8195 6.85161C22.6413 2.4646 29.181 0 36 0C42.819 0 49.3587 2.4646 54.1805 6.85161C59.0022 11.2386 61.7111 17.1887 61.7111 23.3929V75.3718C66.6733 79.9743 70.0303 85.8081 71.3606 92.1406C72.6909 98.4732 71.9352 105.022 69.1883 110.965C66.4414 116.908 61.8259 121.981 55.9213 125.545C50.0166 129.109 43.0861 131.007 36 131ZM36 9.35714C31.9098 9.36086 27.9884 10.8408 25.0962 13.4722C22.204 16.1036 20.5774 19.6715 20.5733 23.3929V79.4562L18.8661 80.8551C14.9831 84.0127 12.2456 88.1688 11.0159 92.7731C9.78622 97.3775 10.1223 102.213 11.9798 106.64C13.8372 111.067 17.1284 114.876 21.4177 117.563C25.7069 120.251 30.7921 121.689 36 121.689C41.2079 121.689 46.2931 120.251 50.5823 117.563C54.8716 114.876 58.1628 111.067 60.0202 106.64C61.8777 102.213 62.2138 97.3775 60.9841 92.7731C59.7544 88.1688 57.0169 84.0127 53.1339 80.8551L51.4266 79.4562V23.3929C51.4226 19.6715 49.796 16.1036 46.9038 13.4722C44.0116 10.8408 40.0901 9.36086 36 9.35714Z" fill="#22C55E"/>
          </svg>
        </div>
        <div class="col-span-1 self-center text-5xl"><%= a1 %> C</div>
        <div class="col-span-1 flex justify-center p-3">
          <svg class="h-20 w-20" viewBox="0 0 90 120" fill="" xmlns="http://www.w3.org/2000/svg">
            <path d="M48 120C34.7 120 23.376 115.133 14.028 105.398C4.676 95.6589 0 83.8947 0 70.1053C0 63.1579 1.226 56.7095 3.678 50.76C6.126 44.8147 9.6 39.5789 14.1 35.0526L48 0L81.9 35.0526C86.4 39.5789 89.876 44.8147 92.328 50.76C94.776 56.7095 96 63.1579 96 70.1053C96 83.8947 91.326 95.6589 81.978 105.398C72.626 115.133 61.3 120 48 120ZM48 107.368C58 107.368 66.5 103.709 73.5 96.3916C80.5 89.0779 84 80.3158 84 70.1053C84 65.0526 83.124 60.3411 81.372 55.9705C79.624 51.6042 77 47.6842 73.5 44.2105L48 17.6842L22.5 44.2105C19 47.6842 16.376 51.6042 14.628 55.9705C12.876 60.3411 12 65.0526 12 70.1053C12 80.3158 15.5 89.0779 22.5 96.3916C29.5 103.709 38 107.368 48 107.368Z" fill="#22C55E"/>
          </svg>
        </div>
        <div class="col-span-1 self-center text-5xl"><%= a2 %> %</div>
        <div class="col-span-2 pt-4 pb-2">a second</div>
      </div>
    </div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold bg-gray-800 col-span-2 rounded-lg pt-2">moisture</div>
        <div class="col-span-1 flex justify-center p-8">
          <svg class="h-24 w-24 text-green-500" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M104.464 129.96C99.982 130.218 95.5166 129.221 91.5695 127.082C87.6224 124.943 84.3498 121.747 82.1191 117.852C79.8883 113.957 78.7878 109.517 78.941 105.031C79.0942 100.546 80.4951 96.1914 82.9864 92.4574L99.775 67.4772C100.292 66.7085 100.99 66.0787 101.808 65.6432C102.625 65.2077 103.538 64.9799 104.464 64.9799C105.391 64.9799 106.303 65.2077 107.121 65.6432C107.939 66.0787 108.637 66.7085 109.154 67.4772L125.636 91.9701C128.362 96.0028 129.877 100.732 130 105.597C129.834 112.21 127.054 118.487 122.267 123.053C117.481 127.62 111.079 130.104 104.464 129.96ZM104.464 77.1407L90.8329 97.4098C89.2286 99.7407 88.3218 102.48 88.2188 105.308C88.1157 108.135 88.8206 110.933 90.2509 113.375C91.6813 115.816 93.7778 117.8 96.295 119.093C98.8122 120.386 101.646 120.936 104.464 120.677C108.617 120.822 112.658 119.316 115.703 116.49C118.748 113.664 120.55 109.748 120.714 105.597C120.607 102.485 119.59 99.4728 117.789 96.9318L104.464 77.1407ZM41.7857 64.9801V41.7729H46.4286C51.3521 41.7668 56.0723 39.8088 59.5538 36.3284C63.0353 32.8479 64.9939 28.1292 65 23.2072V9.28288H51.0714C46.3171 9.29067 41.7488 11.131 38.3175 14.4209C35.9133 10.0569 32.3825 6.41718 28.093 3.88084C23.8035 1.3445 18.9122 0.00435822 13.9286 0H0V13.9243C0.00860141 21.3076 2.9463 28.386 8.16867 33.6068C13.391 38.8275 20.4716 41.7643 27.8571 41.7729H32.5V64.9801H0V74.263H65V64.9801H41.7857ZM51.0714 18.5658H55.7143V23.2072C55.7118 25.6684 54.7327 28.0281 52.9918 29.7685C51.251 31.5088 48.8905 32.4876 46.4286 32.4901H41.7857V27.8486C41.7882 25.3874 42.7673 23.0277 44.5082 21.2874C46.249 19.547 48.6095 18.5682 51.0714 18.5658ZM27.8571 32.4901C22.9336 32.4839 18.2134 30.5259 14.7319 27.0455C11.2505 23.5651 9.29186 18.8464 9.28571 13.9243V9.28288H13.9286C18.8521 9.28902 23.5723 11.247 27.0538 14.7274C30.5353 18.2079 32.4939 22.9266 32.5 27.8486V32.4901H27.8571ZM0 88.1873H65V97.4702H0V88.1873ZM0 111.395H65V120.677H0V111.395Z" fill="#22C55E"/>
            </svg>
        </div>
        <div class="col-span-1 self-center text-5xl"><%= a1 %> % </div>
        <div class="col-span-2 pb-2">a second</div>
      </div>
    </div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold bg-gray-800 col-span-2 rounded-lg pt-2">sun</div>
        <div class="col-span-1 flex justify-center p-8">
          <svg class="h-24 w-24" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M65 82.7273C69.9242 82.7273 74.1098 81.0038 77.5568 77.5568C81.0038 74.1098 82.7273 69.9242 82.7273 65C82.7273 60.0758 81.0038 55.8902 77.5568 52.4432C74.1098 48.9962 69.9242 47.2727 65 47.2727C60.0758 47.2727 55.8902 48.9962 52.4432 52.4432C48.9962 55.8902 47.2727 60.0758 47.2727 65C47.2727 69.9242 48.9962 74.1098 52.4432 77.5568C55.8902 81.0038 60.0758 82.7273 65 82.7273ZM65 94.5455C56.8258 94.5455 49.8589 91.6638 44.0995 85.9005C38.3362 80.1411 35.4545 73.1742 35.4545 65C35.4545 56.8258 38.3362 49.857 44.0995 44.0936C49.8589 38.3342 56.8258 35.4545 65 35.4545C73.1742 35.4545 80.143 38.3342 85.9064 44.0936C91.6658 49.857 94.5455 56.8258 94.5455 65C94.5455 73.1742 91.6658 80.1411 85.9064 85.9005C80.143 91.6638 73.1742 94.5455 65 94.5455ZM5.90909 70.9091C4.23485 70.9091 2.83242 70.3418 1.70182 69.2073C0.567273 68.0767 0 66.6742 0 65C0 63.3258 0.567273 61.9214 1.70182 60.7868C2.83242 59.6562 4.23485 59.0909 5.90909 59.0909H17.7273C19.4015 59.0909 20.8059 59.6562 21.9405 60.7868C23.0711 61.9214 23.6364 63.3258 23.6364 65C23.6364 66.6742 23.0711 68.0767 21.9405 69.2073C20.8059 70.3418 19.4015 70.9091 17.7273 70.9091H5.90909ZM112.273 70.9091C110.598 70.9091 109.196 70.3418 108.065 69.2073C106.931 68.0767 106.364 66.6742 106.364 65C106.364 63.3258 106.931 61.9214 108.065 60.7868C109.196 59.6562 110.598 59.0909 112.273 59.0909H124.091C125.765 59.0909 127.168 59.6562 128.298 60.7868C129.433 61.9214 130 63.3258 130 65C130 66.6742 129.433 68.0767 128.298 69.2073C127.168 70.3418 125.765 70.9091 124.091 70.9091H112.273ZM65 23.6364C63.3258 23.6364 61.9233 23.0691 60.7927 21.9345C59.6582 20.8039 59.0909 19.4015 59.0909 17.7273V5.90909C59.0909 4.23485 59.6582 2.83045 60.7927 1.69591C61.9233 0.565303 63.3258 0 65 0C66.6742 0 68.0786 0.565303 69.2132 1.69591C70.3438 2.83045 70.9091 4.23485 70.9091 5.90909V17.7273C70.9091 19.4015 70.3438 20.8039 69.2132 21.9345C68.0786 23.0691 66.6742 23.6364 65 23.6364ZM65 130C63.3258 130 61.9233 129.433 60.7927 128.298C59.6582 127.168 59.0909 125.765 59.0909 124.091V112.273C59.0909 110.598 59.6582 109.196 60.7927 108.065C61.9233 106.931 63.3258 106.364 65 106.364C66.6742 106.364 68.0786 106.931 69.2132 108.065C70.3438 109.196 70.9091 110.598 70.9091 112.273V124.091C70.9091 125.765 70.3438 127.168 69.2132 128.298C68.0786 129.433 66.6742 130 65 130ZM27.4773 35.75L21.125 29.5455C19.9432 28.4621 19.3759 27.0833 19.4232 25.4091C19.4744 23.7348 20.0417 22.3068 21.125 21.125C22.3068 19.9432 23.7348 19.3523 25.4091 19.3523C27.0833 19.3523 28.4621 19.9432 29.5455 21.125L35.75 27.4773C36.8333 28.6591 37.375 30.0379 37.375 31.6136C37.375 33.1894 36.8333 34.5682 35.75 35.75C34.6667 36.9318 33.3135 37.4971 31.6905 37.4459C30.0635 37.3986 28.6591 36.8333 27.4773 35.75ZM100.455 108.875L94.25 102.523C93.1667 101.341 92.625 99.9385 92.625 98.3155C92.625 96.6885 93.1667 95.3333 94.25 94.25C95.3333 93.0682 96.6885 92.5029 98.3155 92.5541C99.9385 92.6014 101.341 93.1667 102.523 94.25L108.875 100.455C110.057 101.538 110.624 102.917 110.577 104.591C110.526 106.265 109.958 107.693 108.875 108.875C107.693 110.057 106.265 110.648 104.591 110.648C102.917 110.648 101.538 110.057 100.455 108.875ZM94.25 35.75C93.0682 34.6667 92.5029 33.3115 92.5541 31.6845C92.6014 30.0615 93.1667 28.6591 94.25 27.4773L100.455 21.125C101.538 19.9432 102.917 19.3759 104.591 19.4232C106.265 19.4744 107.693 20.0417 108.875 21.125C110.057 22.3068 110.648 23.7348 110.648 25.4091C110.648 27.0833 110.057 28.4621 108.875 29.5455L102.523 35.75C101.341 36.8333 99.9621 37.375 98.3864 37.375C96.8106 37.375 95.4318 36.8333 94.25 35.75ZM21.125 108.875C19.9432 107.693 19.3523 106.265 19.3523 104.591C19.3523 102.917 19.9432 101.538 21.125 100.455L27.4773 94.25C28.6591 93.1667 30.0635 92.625 31.6905 92.625C33.3135 92.625 34.6667 93.1667 35.75 94.25C36.9318 95.3333 37.4991 96.6885 37.4518 98.3155C37.4006 99.9385 36.8333 101.341 35.75 102.523L29.5455 108.875C28.4621 110.057 27.0833 110.622 25.4091 110.571C23.7348 110.524 22.3068 109.958 21.125 108.875Z" fill="#22C55E"/>
          </svg>
        </div>
        <div class="col-span-1 self-center text-5xl"><%= a2 %> Lux</div>
        <div class="col-span-2 pb-2">a second</div>
      </div>
    </div>
  </div>
</body>

<!-- <body>

    <h1>Monitoring</h1>
    <p>Perbandingan MQTT dan HTTP</p>

    <h1>MQTT</h1>
    <h4>Suhu = <%= a1 %></h4><br>
    <h4>Kelembaban = <%= a2 %></h4><br>
    <hr>
    <h1>HTTP</h1><br>
    <h4>Suhu = <%= a3 %></h4><br>
    <h4>Kelembaban = <%= a4 %></h4><br>
    <hr>
    <div id="gauge2" class="gauge-container two"></div>

</body> -->

</html>
